.about-section {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.about h2{
  color: #38220f;
  font-size: max(2vw,28px);
  font-weight: 900;
}
.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 20px;
  gap: 30px;
  align-items: flex-start; /* Align items to the start */
}

.about-video {
  margin-top: 100px;
  background-size: contain;
  width: 650px; /* Set the width to 700 pixels */
  height: auto; /* Set the height to auto */
  margin-right: 30px; /* Add right margin of 30px */
  overflow: hidden;
  align-items: center;
  object-position: center top; /* Center horizontally, align to top vertically */
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

.about-video:hover {
  transform: scale(1.05); /* Scale up the video on hover */
  margin-right: 30px;
}
