@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins','sans-serif';
  padding: 0;
  margin: 0;
  margin-top: 5px;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #ece0d1;
  scroll-behavior:smooth;
  overflow: hidden; /* Hide the scrollbar visually */
  overflow-y: auto; /* Enable scrolling via keyboard controls */
}

a{
  text-decoration: none;
  color:inherit;
}
.app {
  width: 100%;
  margin: 0 auto; /* This will center .app horizontally */
  padding: 0 5px; /* This will add equal padding on both sides */
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}